/* body {
  padding: 10px;
  font-family: sans-serif;
} */

/* header {
  padding: 60px;
  text-align: center;
  background: #92b1aa;
  color: white;
  font-size: 30px;

} */

.bg-red {
  background-color: #92b1aa;
}
.color {
  background-color: #e2f3ee;
}